body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    text-align: center;
}

#shekl {
    font-size: 1.5rem;
    color: #fff;
}

#num {
    font-size: 5rem;
    color: #fff;
    position: fixed;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keys {
    margin: 24vh 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.key {
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.09s;
    width: 100px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px #000;
}

.playing {
    transform: scale(1.1);
    border-color: #b200ff;
    box-shadow: 0 0 10px #b200ff;
}

kbd {
    display: block;
    font-size: 40px;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b200ff;
}

@media screen and (max-width:900px) {
    .keys {
        margin: 29vh 50%;
    }
    .key {
        transform: scale(0.8);
        margin: 0.8rem;
        padding: 0.8rem .4rem;
    }
}

@media screen and (max-width:600px) {
    .keys {
        margin: 17vh 50%;
        grid-template-columns: repeat(3, 1fr);
    }
    .key {
        transform: scale(0.7);
        margin: 0.5rem;
        padding: 0.6rem .3rem;
    }
}